
<div class="tagpage">
  <div class="col-sm-4 col-sm-offset-4">

  <div id="taggedposts">
<h1>posts tagged as <%= @tag.name %></h1>
<hr>
<% if @posts.count > 0 %>


  
  <% @posts.each do |post| %>

    <p><%= link_to post.title, post_path(post) %></p>

  <% end %>



<% else %>

  <p>this tag is not associated with any posts.</p>

<% end %>
</div>

</div>
</div>