<head>
</head>

<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<body>
<div class="jumbotron">
  <div class="container">
    <h1> welcome to nomad.</h1>
    <p> explore the world around you. read & post about travels. </p>

  </div>
</div>

<div class="container">
  <div class="col-sm-6">
    <h4>share your thoughts about your travles!</h4>
    <a href="/posts/new">
    <img src="https://images.unsplash.com/photo-1438109491414-7198515b166b?dpr=2&fit=crop&fm=jpg&h=700&q=80&w=1050" alt="Smiley face" height="100%" width="400px">
    </a>

  </div>

  <div class="col-sm-6">

    <h4>choose a city to explore.</h4>
    <iframe width='100%' height='500px' frameBorder='0' src='https://api.mapbox.com/v4/rolaandoes.7d1fadca/page.html?access_token=pk.eyJ1Ijoicm9sYWFuZG9lcyIsImEiOiI4ZjJhYmRhYjM4ZmU3NGNiZmRiMDhhMjZhNmI5MjRjOSJ9.mqTumm0UXvnG0g6gYOgikg#4/38.00/-97.00'></iframe>
  </div>

  <div id='map'></div>
</div>
</div>

</body>

