<head>
	<h1>Choose a city you'd like to visit</h1>
</head>
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<body>
	<iframe width='100%' height='500px' frameBorder='0' src='https://api.mapbox.com/v4/rolaandoes.7d1fadca/page.html?access_token=pk.eyJ1Ijoicm9sYWFuZG9lcyIsImEiOiI4ZjJhYmRhYjM4ZmU3NGNiZmRiMDhhMjZhNmI5MjRjOSJ9.mqTumm0UXvnG0g6gYOgikg#4/38.00/-97.00'></iframe>
<div id='map'></div>