/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #F2F2F2;
  font-family: 'Oswald', sans-serif;
 }

.navbar {
  margin-bottom: -20px;
}

/* HOMEPAGE*/
.jumbotron {
  margin-top: -30px;
  background-color: black;
  text-align: center; 
  color: #F2F2F2 ;
}

.row {
  padding-right: 150px;
  padding-left: 90px;
}

/*POSTS ON HOMEPAGE*/
body > div.container > div:nth-child(1) > h4 {
  text-align: center; 
}
/*MAP ON HOMEPAGE*/
body > div.container > div:nth-child(2) > h4 {
  text-align: center; 
}

/*BACKGROUND IMAGE OF THE LOGIN PAGE*/
.loginpage { 
  background: url(https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?dpr=2&fit=crop&fm=jpg&h=650&q=75&w=950) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

/*BACKGROUND OF THE LOGIN FORM*/
.loginbox {
  font-family: sans-serif;
  background-color: rgba(42, 30, 20, 0.8);
  color: #F2F2F2;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  font-family: 'Oswald', sans-serif
}

/*COLOR OF LOGIN & SIGNUP*/
body > div > div > div > legend {
  color: #F2F2F2;
}

.signuppage { 
  background: url(https://images.unsplash.com/photo-1429734160945-4f85244d6a5a?dpr=2&fit=crop&fm=jpg&h=700&q=80&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

/*BACKGROUND OF THE SIGNUP FORM*/
.signupbox {
  background-color: rgba(42, 30, 20, 0.8);
  color: #F2F2F2;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  font-family: 'Oswald', sans-serif
}

/*COLOR OF SIGNUP*/
body > div > div > div > legend {
  color: #F2F2F2;
}

.profilepage {
  background: url(https://images.unsplash.com/photo-1433785124354-92116416b870?q=80&fm=jpg&s=38f06298f26c11c59024eabf3b0be3bb) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

/*USER PROFILE TITLE NAME*/
body > div > div.col-md-12 > h1 {
  color:black;
  margin-top: 50px;
  text-align: center;
}

#userinformation {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

#userposts {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

/*CITY IMAGE*/
body > div > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*CITY NAME*/
body > div > h1 {
  text-align: center; 
}

/*POST ARE SHOWING*/
body > div > div.container {
  margin-left: 100px;
  margin-right: 100px;
}

body > div {
  text-align: center;
}

/*INDIVIDUAL POST */ 
.individualpost{
  background: url(https://images.unsplash.com/photo-1428677361686-f9d23be145c9?dpr=2&fit=crop&fm=jpg&h=700&q=80&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

/*POST TEXT*/
#inposttext {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

#addcommenttopost {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

/*CITY IMAGE*/
body > div > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*CITY NAME*/
body > div > h1 {
  text-align: center; 
}

/*POST ARE SHOWING*/
body > div > div.container {
  margin-left: 100px;
  margin-right: 100px;
}

/*NEW POST*/ 
.newpostpage {
  background: url(https://images.unsplash.com/photo-1429032021766-c6a53949594f?dpr=2&fit=crop&fm=jpg&h=700&q=80&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

#newpostbox {
  background-color: rgba(42, 30, 20, 0.8);
  color: #F2F2F2;
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

/*EDIT POST*/ 
.updatepost{
  background: url(https://images.unsplash.com/photo-1424746219973-8fe3bd07d8e3?dpr=2&fit=crop&fm=jpg&h=725&q=80&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

#updatepostbox {
  background-color: rgba(42, 30, 20, 0.8);
  color: #F2F2F2;
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.tagpage {
  background: url(https://unsplash.imgix.net/photo-1415200358018-bb07fced3660?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

#taggedposts {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.citypage {
  background: url(http://www.unsigneddesign.com/Subtle%20Grunge%20Small/15.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
   height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

.updatepost {
  background: url(https://unsplash.imgix.net/photo-1430760814266-9c81759e5e55?dpr=2&fit=crop&fm=jpg&h=750&q=75&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
   height: 800px;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
}

#updatedbox {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}
 

 















